<!DOCTYPE html>
<html lang = "en">
    <head>
        %@%globalInsert(head.html)
        <title>%@%txt(title)</title>
        <style>
           .thank-you {
                font-size: 90%;
           }
           .links {
                font-size: 85%;
                margin-top: 0;
                margin-bottom: 3%;
           }
        </style>
        <script src="/res/js/WebscorePlayer.js"></script>
        <script>
            var json = `
                %@%keyInsert(pagesJSON)
            `;
        </script>
        <script>
            var svgPages = [];
            for (let i = 0; i < %@%txt(numPages); i++) {
                svgPages[i] = "/res/scores/%@%path()/%@%path()-" + (i+1) + ".svg";
            }
        </script>
    </head>
    <body>
        %@%globalInsert(header.html)
        <div class="content">
            <h1>%@%txt(heading)</h1>
            <p class="intro">%@%txt(intro)</p>

            <div id="player"></div>

            <p class="links center-inline"><a href="/res/scores/%@%path()/%@%path().pdf" target="_blank">Download .pdf</a> | <a href="/res/scores/%@%path()/%@%path().mscz" target="_blank">Download .mscz</a></p>
            <p class="thank-you center-inline">Huge shoutout to <a target="_blank" href="https://houndogschiller.com/">Jeff "Houndog" Schiller</a>, my clarinet teacher for many years</p>
        
        </div>
        %@%globalInsert(footer.html)
    </body>
    <script>
        WebscoreInit(json, svgPages, "/res/scores/%@%path()/%@%path().mp3");
    </script>
</html>