<!DOCTYPE html>
<html lang = "en">
    <head>
        %@%globalInsert(head.html)
        <title>%@%txt(title)</title>
        <style>
           
        </style>
        <script src="/res/js/musicplayer.js"></script>
        <script>
            var json = `
                %@%keyInsert(pagesJSON)
            `;
        </script>
        <script>
            var svgPages = %@%txt(pagesSVG);
        </script>
    </head>
    <body>
        %@%globalInsert(header.html)
        <div class="content">
            <h1>%@%txt(title)</h1>
            <p class="intro">%@%txt(intro)</p>

            <div id="player"></div>
            
             <p class="thank-you">Huge shoutout to <a target="_blank" href="https://houndogschiller.com/">Jeff "Houndog" Schiller</a>, my clarinet teacher for many years</p>
        
        </div>
        %@%globalInsert(footer.html)
    </body>
    <script>
        mpInit(json, svgPages, "/res/scores/%@%path()/%@%path().mp3");
    </script>
</html>