body {
    font-family: Georgia, serif;
    margin: 0;
    overscroll-behavior: none;
}

header.desktop {
    position: relative;
    width: 100%;
    height: 9vh;
    box-sizing: border-box;
}

header.mobile {
    width: 100%;
    height: 9vh;
}

h1 {
    font-size: 300%;
    display:inline;
}

h2.listing{
    font-size: 180%;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 1%
}

nav.desktop {
    text-align: center;
}

nav.mobile {
    position: relative;
    height: 100%;
}

p {
    font-size: 150%;
}

p.intro{
    font-style: italic;
    margin: 2vw 0;
}

p.controls{
    font-size: 105%;
}

p.listdate{
    font-size: 95%;
    margin: 0;
}

p.listing{
    margin: 2vh 0;
    margin-right: 2vw;
    padding-left: 2vw
}

i.anti{
    font-style: normal;
}

table, th, td{
    border: 1px solid rgb(32, 32, 32);
    border-collapse: collapse
}

th, td{
    padding: 15px
}

a{
    color:rgb(96, 147, 179)
}

a:focus{
    color: rgb(114, 96, 179)
}

a.listing{
    color: inherit;
    text-decoration: none;
}

a.game-link{
    position: relative;
    border-radius: 20px;
    height: 80%;
    width: 33%;
    float: right;
    text-align: center;
}

a.tag{
    margin-right: 1%;
}

a.menu{
    color: inherit;
    text-decoration: none;
}

img.game-link{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.listing-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.listing{
    width: 130px;
    height: 130px;
}

.game-listing{
    border-radius: 20px;
    padding: 1%;
    width: 65%
}

.game-links{
    display: flex;

    height: 100%;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 15%;
    align-items: center;
    justify-content: space-between;
}

.hub-link{
    height: 80%;
    width: 5%;
    position: absolute;
    bottom: 10%;
    right: 25%;
    border-radius: 20px;
}

ul{
    list-style-type: none;
}

li.game-home{
    position: relative;
    margin-bottom: 3%;
}

li.section-home{
    margin-bottom: 3%;
    padding: 1%;
    width: 65%;
    border-radius: 20px;
}

.menu{
    height: 9vh;
    line-height: 9vh;
}

.menu-span{
    display: inline-block;
    width: 10%;
    margin: 0 5%;
}

.box{
    border: 5px black solid
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content{
    padding: 3vh 2vw
}

.center-inline{
    text-align: center;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

.pad-sides{
    margin-left: 2vw;
    margin-right: 2vw;
}

.unity{
    display: inline-block;
    position: relative;
    margin-bottom: 2vh;
    background-image: url("/res/svg/unity.svg");
    background-size: 100% 100%;
}

.mobile-unity-top{
    color: rgb(235, 235, 235);
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

.mobile-unity-bottom{
    color: rgb(235, 235, 235);
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

.flexrow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.homeflex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 95%;
    /* height: 20vh; */
    margin: auto
}
.homediv{
    flex: .33;
    position: relative;
}
a.homelink{
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 90%
}
span.homelink{
    display: none;
    color: rgb(255, 255, 255);
    font-size: 150%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
img.homelink{
    width: 100%;
    height: auto;
}
a.homelink:focus > img.homelink, a.homelink:hover > img.homelink{
    filter: blur(1px) contrast(0.8) grayscale(0.1) brightness(0.8)
}
a.homelink:focus > span.homelink, a.homelink:hover > span.homelink{
    display: inline;
}

.left-music-column{
    order: 1;
    flex: 1 2 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 1vw
}

.youtube{
    order: 1;
    margin: 1vh 1vw;
    height: 22vw;
    width: 39.2vw;
}

.musescore-download{
    order: 2;
    margin: 1vh 1vw;
    text-align: center;
}

a.musescore-link{
    text-align: center;
}

.music-holder{
    order: 2;
    flex: 2 1 60%;
}

.sheetmusic{
    height: 100vh;
    width: 98%;
    margin: 1vw
}

p.thank-you{
    margin-left: 1vw;
    font-size: 90%;
}

.formula{
    padding: 0 35vw;
    text-align: center;
    font-size: 15pt
}

.diagram{
    padding: 0 25vw;
    text-align: center
}

.math-display{
    width: 100%;
    margin: 2vh 0
}

.math-inline{
    height: fit-content;
}

#theme-button-mobile{
    height: 70%;
    text-align: center;
}

.fitH{
    height: 100%;
}

.fitW{
    width: 100%;
}

button.chill{
    border:none;
    border-radius: 0;
    background-color: transparent;
    padding: 0
}

.header-left{
    position: absolute;
    left: 2%
}

.mobile-right{
    position: absolute;
    right: 8%;
    height: 40%;
    top: 30%;
}

.desktop-right{
    position: absolute;
    right: 2%;
    height: 66%;
    top: 17%;
}

.dropcont{
    position: relative;
    height: 100%;
    width: 30%;
    float: right;
}

.dropdown{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
}

.dropdown a{
    float: right;
    text-align: center;
    width: 100%;
}

.dropdown div{
    float: right;
    width: 100%;
}

.show {display:block}
@media(max-width: 1100px) {
    .homeflex {
        flex-direction: column;
    }
    a.homelink {
        width: 80%;
        height: auto;
    }
}
@media(max-width: 900px) {
    .game-links {
        flex-direction: column;
    }
    a.game-link {
        width: 100%;
        height: 30%
    }
    .hub-link {
        height: 40%;
        width: 15%;
        right: 15%;
        top: 30%;
    }
}
@media (max-width: 600px) {
    header.desktop {
        display: none;
    }
    header.mobile {
        display: block;
    }
    .flexrow {
      flex-direction: column-reverse
    }
    .youtube {
        height: 44vw;
        width: 78.4vw;
    }
    .listing-flex {
        flex-direction: column;
    }
    img.listing {
        padding-bottom: 3%;
    }
    p.listing {
        font-size: 140%;
    }
    li.section-home {
        padding: 2%;
    }
    .game-listing {
        padding: 2%;
    }
    .hub-link {
        right: 10%
    }
    .game-links {
        right: 10%
    }
    .mobile-unity-bottom{
        bottom: 1%;
        font-size: 70%;
    }
    .mobile-unity-top{
        top: 1%;
        font-size: 70%;
    }
}
@media(max-width:400px) {
    li.section-home {
        padding: 5%;
    }
    .game-listing {
        padding: 5%;
    }
    p.listing {
        font-size: 120%;
    }
    img.listing {
        width: 60%;
        height: auto;
    }
    .hub-link {
        right: 5%
    }
    .game-links {
        right: 5%
    }
    a.homelink {
        width: 100%;
    }
    span.homelink{
        font-size: 125%
    }
}
@media (min-width: 601px) {
    header.desktop {
        display: block;
    }
    header.mobile {
        display: none;
    }
}