body {
    color: rgb(235, 235, 235);
    background-color: rgb(32, 32, 32);;
}

header, a.homelink {
    color: rgb(32, 32, 32);;
}

table, th, td{
    border: 1px solid rgb(235, 235, 235);
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(235, 235, 235, 0.2);
}

a.menu:hover, a.menu:focus, a.homelink:hover, a.homelink:focus{
    color: rgb(235, 235, 235);
}