body {
    background-color: var(--light);
    color:var(--dark);
}

header {
    color: var(--dark);
}

table, th, td{
    border: 1px solid var(--dark);
}

/* YO THE SHADOW RGBA ISN'T THE VARIABLE */
.shadow{
    box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2);
}

a{
    color:rgb(96, 147, 179)
}

a.menu{
    color: var(--dark);
    text-decoration: none;
}

a.menu:hover{
    color:var(--light);
}