.grid {
    display: grid;
    grid-template-columns: 8% 1% 40% 20%;
    grid-template-rows: 50px 50px 200px;
}
label, #submit{
    grid-column: 1;
    padding: 13px 0
}
input, textarea {
    background: inherit;
    color: inherit; 
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}
input:focus, textarea:focus {
    border-width: 3px;
}
#message {
    grid-column-start: 3;
    grid-column-end: 5;
    resize: none;
}
#subject, #email, #name {
    grid-column-start: 3;
    grid-column-end: 4;
}

@media(max-width: 1300px){
    .grid {
        grid-template-columns: 10% 1% 50% 25%;
        grid-template-rows: 50px 50px 300px;
    }
    #submit {
        width: 10%;
    }
}
@media(max-width: 800px){
    .grid {
        grid-template-columns: 15% 1% 50% 25%;
        grid-template-rows: 50px 50px 300px;
    }
    #submit {
        width: 15%;
    }
}
@media(max-width: 800px){
    .grid {
        grid-template-columns: 20% 1% 50% 25%;
        grid-template-rows: 50px 50px 300px;
    }
    #submit {
        width: 20%;
    }
}